@using Telerik.Sitefinity.DynamicModules.Model
@using Telerik.Sitefinity.Model


@model DynamicContent


<h1>
    @Html.Raw(@Model.GetString("Title"))
</h1>

<p>
    @Html.Raw(@Model.GetString("Description"))
</p>