@using Telerik.Web.Mvc.UI
@using Telerik.Sitefinity.UI.MVC
@using SitefinityWebApp.Mvc.Models


@model BugsModel

<h1>Create A Bug</h1>

@using (Html.BeginFormSitefinty("CreateBug" , "BugForm"))
{
    @Html.EditorForModel();
    <input type="submit" value="Save"/>
}