@using Telerik.Sitefinity.DynamicModules.Model
@using Telerik.Sitefinity.Model


@model SitefinityWebApp.Mvc.Models.DisplayModel

<h1>
    @foreach (var item in Model.news)
    {
        @Html.DisplayText(item.Content );
    }
    
</h1>